- provide(:title, "About us")
- provide(:description, "")

%h2.bolded About

%br

%p Hi everyone!

%p="My name is <strong>Mirosław Szul</strong> and I am the founder and developer of this website. I live in Olsztyn, Poland and I work here.".html_safe

%p The concept of this project was in my head for a long time, but it was only in April 2019 that I began to work on it. 

%p In July of the same year, the Remojobs.com project said "hello" to the world.

%p You can find here a lot of IT remote job offers for programmers, designers, testers and other people related to the IT industry.

%p Enjoy!