- provide(:title, "About us")
- provide(:description, "")

.container-page
  %h2.bolded About

  %br

  %p= image_tag("mszul.jpg", class: "img-rounded img-responsive", alt: "Mirosław Szul", title: "Mirosław Szul", style: "max-width: 160px; float: right; margin: 20px;")

  %p Hi everyone!

  %p="My name is <a href='https://www.szul.eu' title='Ruby on Rails Developer' target='_blank'><strong>Mirosław Szul</strong></a> and I am the founder and developer of this website. I live in Olsztyn, Poland and I work here. Programming is my passion and profession - I like it a lot. I also like remote working, that's why I created this page with remote job offers in IT.".html_safe

  %p The concept of this project was in my head for a long time, but it was only in April 2019 that I began to work on it. 

  %p In July of the same year, the Remojobs.com project said "hello" to the world.

  %p="You can find here a lot of IT <strong>remote jobs</strong> for programmers, designers, testers and other people related to the tech industry.".html_safe

  %p="Very important and distinguishing thing is that <strong>all job offers</strong> on Remojobs <strong>have salary ranges explicitly stated</strong>.".html_safe

  %p Enjoy!