- provide(:title, "Privacy Policy")
- provide(:description, "")

%h2.bolded Privacy Policy

%br

%p
  %b Cookies Policy
%p Our website uses cookies.
%p A cookie is a file containing an identifier (a string of letters and numbers) that is sent by a web server to a web browser and is stored by the browser. The identifier is then sent back to the server each time the browser requests a page from the server.
%p We use Google Analytics to analyse the use and traffic of our website.
%p Our analytics service provider generates statistical and other information about website use by means of cookies.
%p You can delete cookies already stored on your computer. Please visit the "Help" option in your browser menu to learn how to do this. Deleting cookies will have a negative impact on the usability of this website.

%br

%p Last updated: 10 October 2019.