- provide(:title, "Terms & Conditions")
- provide(:description, "")

%h2.bolded Terms & Conditions

%br

%p
  %b Introduction
%p Please read these Terms & Conditions carefully before using Remojobs.com
%p If you don’t agree to the Terms & Conditions you may not use the Service.
%p Remojobs.com reserves the right to modify these Terms & Conditions at any time.
%p By accessing this website, you are agreeing to be bound by these web site Terms and Conditions of Use, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you don't agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this web site are protected by applicable copyright and trade mark law.
%p
  %b Services Provided
%p Remojobs.com provides a service to bring Job Seekers and Employers together. Employers can register, create profiles, add job posts and Job Seeker can search for jobs.

%br

%p Last updated: 10 October 2019.