- provide(:title, "Terms & Conditions")
- provide(:description, "")

%h2.bolded Terms & Conditions

%br

%p
  %b Introduction
%p Please read these Terms & Conditions carefully before using Remojobs
%p By using Remojobs, you are agreeing to these Terms & Conditions. If you have any questions, contact us at hello@remojobs.com
%p If you don’t agree to the Terms & Conditions you may not use the Service.
%p Remojobs reserves the right to modify these Terms & Conditions at any time.
%p By accessing this website, you are agreeing to be bound by these web site Terms and Conditions of Use, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you don't agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this web site are protected by applicable copyright and trade mark law.
%p
  %b Services Provided
%p Remojobs provides a service to bring Job Seekers and Employers together. Employers can register, create profiles, add job posts and Job Seeker can search for jobs.
%p
  %b Terms & Conditions
%p You are entirely responsible for the content of, and any harm resulting from, that Content. That is the case regardless of whether the Content in question constitutes text or graphics. By making Content available, you represent and warrant that the downloading, copying and use of the Content will not infringe the proprietary rights, including but not limited to the copyright, patent, trademark or trade secret rights, of any third party.
%p If your employer has rights to intellectual property you create, you have either received permission from your employer to post or make available the Content, including but not limited to any software, or secured from your employer a waiver as to all rights in or to the Content; you have fully complied with any third-party licenses relating to the Content, and have done all things necessary to successfully pass through to end users any required terms.
%p Your Account is not named in a manner that misleads your readers into thinking that you are another person or company. For example, your Account’s URL or name is not the name of a person other than yourself or company other than your own; and you have, in the case of Content that includes computer code, accurately categorized and/or described the type, nature, uses and effects of the materials, whether requested to do so by Remojobs or otherwise.
%p Remojobs reserves the right to refuse or remove any content or terminate or deny access to your use of the Service for any reason whatsoever. It is your responsibility to check the Terms periodically for changes. Your continued use of or access to the Service following the posting of any changes to the Terms constitutes acceptance of those changes. Remojobs may also, in the future, offer new services and/or features through the Service (including, the release of new tools and resources). Such new features and/or services shall be subject to the Terms.
%p All Content uploaded are copyright © their respective owners.
%p If you delete Content, Remojobs will use reasonable efforts to remove it from the Service, but you acknowledge that caching or references to the Content may not be made immediately unavailable.



%br

%p Last updated: 24 February 2020.