- provide(:title, "Terms & Conditions")
- provide(:description, "")

%h2.bolded Terms & Conditions

%br

%b Introduction
%p Please read these Terms & Conditions carefully before using Remojobs.com
%p Remojobs.com reserves the right to modify these Terms & Conditions at any time.

%b Services Provided
%p Remojobs.com provides a service to bring Job Seekers and Employers together. Employers can register, create profiles, add job posts and Job Seeker can search for jobs.