<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>
      Hello <%= @job.user.email %>
    </h2>
    <p>
      Your job offer has been successfully activated on <strong><a href="https://remojobs.com" target="_blank">remojobs.com</a></strong><br><br>
      Here is the link:<br>
      <a href="<%= job_url(@job) %>" target="_blank"><%= job_url(@job) %></a><br>
    </p>
    <p>Thanks for adding and feel free to add more remote job offers!</p>
    <p>If you have any questions, just send us an email to <a href="mailto:hello@remojobs.com">hello@remojobs.com</a></p> 
  </body>
</html>