<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>
      Hello <%= @user.email %>
    </h2>
    <p>
      You have successfully signed up to <strong><a href="https://remojobs.com" target="_blank">remojobs.com</a></strong>,
      your login is: <%= @user.email %><br>
    </p>
    <p>
      To login to the Remojobs, just follow this link: <%= link_to @url, @url, target: "_blank" %>
    </p>
    <p>Thanks for joining and have a great day!</p>
    <p>If you have any questions, just send us an email to <a href="mailto:hello@remojobs.com">hello@remojobs.com</a></p> 
  </body>
</html>