%h1 Jobs#index

= link_to "+ Add new job", new_job_path

%h2 Last jobs

%table.table.table-hover
	- @jobs.each do |f|
		%tr
			%td
				= f.created_at.strftime("%d %h, %H:%M")
			%td
				= link_to "#{f.title}", job_path(f)
