
%h2= @user.email

- if current_user.admin?
  - @jobs_all.each do |f|
    = render partial: '/common_files/jobs-list', locals: { f: f }
- elsif current_user == @user
  - @jobs.each do |f|
    = render partial: '/common_files/jobs-list', locals: { f: f }
- else
  " "
/ - else
/   = link_to "+ Add your first job offer", new_job_path, class: 'btn btn-success btn'