- provide(:title, "Remote jobs: " + @tag.name.titleize)
- if @tag.taggings_count > 0
  - provide(:description, @tag.taggings_count.to_s + " Remote " + @tag.name.titleize + " jobs at companies like " + company_name_for_tag(@tagged_jobs).to_s + ".")
- else
  - provide(:description, "We have a lot of Remote " + @tag.name.titleize + " jobs for programmers.")
/ -raise
%h1.bolded.centered.tag-title
  = @tag.name
  %br
  %small= "remote jobs"
- @tagged_jobs.where(status: true).order('created_at DESC').each do |f|
  = render partial: '/common_files/jobs-list', locals: { f: f }
.col-centered
  = paginate @tagged_jobs
