/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body { 
  padding-top: 70px; 
}

h1, h2, h3 {
  font-family: 'Quicksand', sans-serif;
}

h1.counter {
  font-size: 2.4em;
}

h1.category {
  font-size: 2.2em;
}

h1.job-title {
  font-size: 2.4em;
  font-weight: bold;
}

h2.home {
  font-size: 1.6em;
}

h2.tag {
  font-size: 1.3em;
  margin-top: 5px;
}

h3.job-title {
  font-size: 1.3em;
  font-weight: bold;
}

.title-job-list {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #f4f4f4;
  text-align: center;
  margin-top: 40px;
}

.admin-buttons {
  margin-bottom: 3px;
}

.shadow-border {
  box-shadow: 0 1px 4px rgba(0,0,0,0.15);
}

.centered {
  text-align: center;
  margin-top: 20px;
}

.center-image {
  display: block;
  margin: 0 auto;
}

.righted {
  text-align: right;
}

.bolded {
  font-weight: bold;
}
.invalid-feedback {
  color: #f23030;
}

.navbar-brand {
  padding: 10px 15px !important;
}

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
  max-height: 380px !important;
}

.homepage-count {
  padding-bottom: 9px;
  margin: 20px 0 20px;
  border-bottom: 1px solid #eeeeee;
}

.addbuttontop {
  margin-top: 20px;
  font-weight: 600;
}


@media screen and (max-width: 768px) {
  .navbar-brand {
    padding: 12px 15px !important;
  }
}